extends base.pug

block content 
    h4 Update video
    form(method="POST")
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(placeholder="Description",name="description",required, value=video.description,type="text", minlength=20)
        input(placeholder="Hashtags, separated by comma.",name="hashtags", required, value=video.hashtags.join(),type="text")
        input(value="save", type="submit")